# Human Trafficking Indicators (HTI)

### Data Cleaning

### Overview

In [1]:
import pandas as pd
import numpy as np
import unicodecsv
import seaborn as sns
import matplotlib.pyplot as plt
import pprint 
%matplotlib inline

data = pd.read_csv('HTI.csv')

In [2]:
data.keys()

Index([u'country', u'ccode', u'year', u'tier', u'minstand', u'efforts',
       u'TRAFFICKING_FLOWS', u'source', u'source_order', u'transit',
       u'transit_order', u'destination', u'destination_order', u'internal',
       u'TRAFFICKING_TYPES', u'psource', u'ptransit', u'pdest', u'pinternal',
       u'lsource', u'ltransit', u'ldest', u'linternal', u'dsource',
       u'dtransit', u'ddest', u'dinternal', u'dssource', u'dstransit',
       u'dsdest', u'dsinternal', u'cpsource', u'cptransit', u'cpdest',
       u'cpinternal', u'clsource', u'cltransit', u'cldest', u'clinternal',
       u'cssource', u'cstransit', u'csdest', u'csinternal', u'PROSECUTION',
       u'domesticlaws', u'enforcement', u'convictinfo', u'prosnum',
       u'PROTECTION', u'protectprogress', u'victimid', u'victimservices',
       u'victimpunish', u'PREVENTION', u'preventprogress',
       u'INTERNATIONAL_LAWS', u'UNP_sign', u'UNP_rat', u'ILO182', u'ILO29',
       u'ILO105', u'CEDAW_sign', u'CEDAW_rat', u'UNCRC_sign', u'UNCRC_rat',
       u'conflict_sign', u'conflict_rat'],
      dtype='object')

In [3]:
# Determine if there are any null values
data.isnull().sum()

country                  0
ccode                    0
year                     0
tier                     0
minstand                 0
efforts                  0
TRAFFICKING_FLOWS     1587
source                   0
source_order             0
transit                  0
transit_order            0
destination              0
destination_order        0
internal                 0
TRAFFICKING_TYPES     1587
psource                  0
ptransit                 0
pdest                    0
pinternal                0
lsource                  0
ltransit                 0
ldest                    0
linternal                0
dsource                  0
dtransit                 0
ddest                    0
dinternal                0
dssource                 0
dstransit                0
dsdest                   0
                      ...
cldest                   0
clinternal               0
cssource                 0
cstransit                0
csdest                   0
csinternal               0
PROSECUTION           1587
domesticlaws             0
enforcement              0
convictinfo              0
prosnum                440
PROTECTION            1587
protectprogress          0
victimid                 0
victimservices           0
victimpunish             0
PREVENTION            1587
preventprogress          0
INTERNATIONAL_LAWS    1587
UNP_sign               552
UNP_rat                240
ILO182                  74
ILO29                   81
ILO105                 113
CEDAW_sign             684
CEDAW_rat               58
UNCRC_sign             560
UNCRC_rat              162
conflict_sign          465
conflict_rat           263
dtype: int64

### Filter to just country, year and type

In [4]:
# Create a filtered data set that includes country, year, and the seven labor types
df = pd.DataFrame(data)
df = data[['country', 'year', "pdest", "ldest", "ddest", "dsdest", "cpdest", "cldest", "csdest"]]
df[0:5]

,country,year,pdest,ldest,ddest,dsdest,cpdest,cldest,csdest
0,United States,2001,No mention,No mention,No mention,No mention,No mention,No mention,No mention
1,United States,2002,No mention,No mention,No mention,No mention,No mention,No mention,No mention
2,United States,2003,No mention,No mention,No mention,No mention,No mention,No mention,No mention
3,United States,2004,No mention,No mention,No mention,No mention,No mention,No mention,No mention
4,United States,2005,No mention,No mention,No mention,No mention,No mention,No mention,No mention

### Boolean values for labor types

In [5]:
# Boolean transform 
d = {'Yes': True, 'No mention': False, 'No': False}
df = df.replace(d)
df[0:5]

         country  year  pdest  ldest  ddest dsdest cpdest cldest csdest
0  United States  2001  False  False  False  False  False  False  False
1  United States  2002  False  False  False  False  False  False  False
2  United States  2003  False  False  False  False  False  False  False
3  United States  2004  False  False  False  False  False  False  False
4  United States  2005  False  False  False  False  False  False  False

### Fill missing years

In [6]:
# Define function to fill in null data points for missing years
def country_years_missing(dataframe):
    years = list(range(2001,2012))
    country = list(df.country.unique())
    for x in country:
        for y in years: 
            if dataframe.query("year == @y and country == @x").empty:
                d = {'country': [x], 'year': [y]}
                dataframe = dataframe.append(pd.DataFrame(d), ignore_index=True) 
    
    return dataframe

In [7]:
# Fill in null data points for missing years
df = country_years_missing(df)

In [8]:
# Render sample for just the United States
df[df.country == "United States"]

     cldest        country cpdest csdest  ddest dsdest  ldest  pdest  year
0     False  United States  False  False  False  False  False  False  2001
1     False  United States  False  False  False  False  False  False  2002
2     False  United States  False  False  False  False  False  False  2003
3     False  United States  False  False  False  False  False  False  2004
4     False  United States  False  False  False  False  False  False  2005
5      True  United States   True  False  False  False   True   True  2007
6      True  United States   True  False   True  False   True   True  2008
7      True  United States   True  False   True  False   True   True  2009
8      True  United States   True  False   True  False   True   True  2010
9      True  United States   True  False   True   True   True   True  2011
1587    NaN  United States    NaN    NaN    NaN    NaN    NaN    NaN  2006

In [15]:
## Reconcile world_countries.json with data for larger countries

# Countries in data not world_countries
["United States", # USA
 "United Kingdom", # England
 "Netherlands, The", # Netherlands
 "Serbia and Montenegro", # Montenegro
 "Bosnia", 
 "Cote d'Ivoire", 
 "Congo, Democratic Republic", 
 "Bahrain", # No 
 "Korea, South", 
 "Singapore", # No 
 "Bahamas, The", 
 "Barbados", # No 
 "St. Lucia", # No 
 "St. Vincent and the Grenadines", # No 
 "Antigua and Barbuda", # No  
 "Slovak Republic", 
 "Malta", # No  
 "Serbia", # "Republic of Serbia" 
 "Guinea-Bissau", # No
 "Equatorial Quinea", # No 
 "Gambia, The", # No 
 "Cote D'Ivoire", # DUPLICATE 
 "Congo, Republic", # Congo, Democratic Republic 
 "Tanzania", # No 
 "Comoros", # No 
 "Mauritius", # No 
 "Seychelles", # No
 "Korea, North", # North Korea
 "Maldives", # No 
 "Timor-Leste", # East Timor
 "Solomon Island", # CHANGE IN DATA
 "Kiribati", # No 
 "Tonga", # No 
 "Palau", # No 
 "Micronesia" # No 
]

# Countries in world_countries not data
["Antarctica", 
 "French Southern and Antarctic Lands", 
 "The Bahamas", 
 "Bosnia and Herzegovina", 
 "Bhutan", 
 "Ivory Coast", # CHANGED 
 "Democratic Republic of the Congo", # CHANGED 
 "Republic of the Congo", # CHANGED 
 "Northern Cyprus", 
 "Falkland Islands", 
 "England", # CHANGED 
 "Gambia", 
 "Guinea Bissau", 
 "Greenland", 
 "South Korea", # CHANGED  
 "New Caledonia", 
 "Netherlands", # CHANGED 
 "Puerto Rico", 
 "North Korea", # CHANGED 
 "Western Sahara", "South Sudan", 
 "Solomon Islands", 
 "Somaliland", 
 "Republic of Serbia", # CHANGED 
 "Slovakia", 
 "East Timor", # CHANGED 
 "United Republic of Tanzania", 
 "USA", # CHANGED  
 "Vanuatu", 
 "West Bank"
]

['Antarctica',
 'French Southern and Antarctic Lands',
 'The Bahamas',
 'Bosnia and Herzegovina',
 'Bhutan',
 'Ivory Coast',
 'Democratic Republic of the Congo',
 'Republic of the Congo',
 'Northern Cyprus',
 'Falkland Islands',
 'England',
 'Gambia',
 'Guinea Bissau',
 'Greenland',
 'South Korea',
 'New Caledonia',
 'Netherlands',
 'Puerto Rico',
 'North Korea',
 'Western Sahara',
 'South Sudan',
 'Solomon Islands',
 'Somaliland',
 'Republic of Serbia',
 'Slovakia',
 'East Timor',
 'United Republic of Tanzania',
 'USA',
 'Vanuatu',
 'West Bank']

### Write .json

In [12]:
final_object = df.T.to_dict().values()

In [13]:
import simplejson

with open('data.json', 'w') as outfile:
    simplejson.dump(final_object, outfile, ignore_nan=True)